body { margin: 0; padding: 0; font-family: sans-serif; background: white; }

.titulo-principal { 
    text-align: center; 
    text-transform: uppercase; 
    font-size: 3rem; 
    margin-top: 50px; 
}

.contenedor-senderos { text-align: center; margin-top: 40px; }
.etiqueta-senderos { text-transform: uppercase; font-weight: bold; margin-bottom: 20px; color: #333; }

.fila-tarjetas { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.tarjeta { 
    width: 250px; 
    height: 350px; 
    border-radius: 20px; 
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    padding-bottom: 20px; 
    color: white; 
    font-size: 1.2rem; 
}
